{%extends 'toolbar_base.html'%}
{%block body%}
    <div class="row">
        <div class="col-6">
            <a class="btn btn-primary" href="{%url 'createTask'%}" role="button">+ Add</a>
        </div>
        <div class="col-3">
            <div class="btn-group" data-toggle="buttons">
                <label 
                    {%if unfinished%}
                        class="btn btn-sm btn-outline-info active"
                    {%else%}
                        class="btn btn-sm btn-outline-info"
                    {%endif%}
                    view-url="{%url 'finishedFilter'%}"
                    id="unfinished"
                >
                    unfinished
                    <input
                        type="checkbox"
                        autocomplete="off"
                        id="unfinishedValue"
                    >
                </label>
            </div>
        </div>
        <div class="col-sm-3">
            <select id="filters">
                <option value="0">All</option>
                <option value="{{user.pk}}">You</option>
                {%for other in other_users%}
                    <option value="{{other.pk}}">{{other.username}}</option>
                {%endfor%}
                <option value="None">Unassigned</option>
            </select>
        </div>
    </div>
    <div class="list-group">
        {%for task in tasks%}
                <a
                    data-value="{{task.assignee.pk}}"
                    data-finished="{{task.finished}}"
                    href="{%url 'viewTask' task_id=task.id%}"
                    {%if task.finished%}
                        class="task list-group-item list-group-item-action list-group-item-success"
                    {%else%}
                        class="task list-group-item list-group-item-action"
                    {%endif%}
                    style="display: block"
                >
                    {{task}}
                    {% if task.comment_set.all|length > 0 %}
                    <span class="float-right" style="margin-left: 5px">
                        <small>{{task.comment_set.all|length}}</small>
                    </span>
                    {% endif %}
                    {% if task.assignee %}
                    <span class="float-right">
                        <small><strong>{{task.assignee}}</strong>
                        </small>
                    </span>
                    {% endif %}
                </a>
        {%endfor%}
    </div>
{%endblock%}
