{%if task.finished%}
    <div class="card card-outline-success">
{%else%}
    <div class="card card-outline-secondary">
{%endif%}
        <div class="card-header">
        {%if task.assignee%}
            {%if task.assignee == user and not task.finished%}
                <a class="btn btn-primary" href="{% url 'finishTask' task_id=task.id %}" role="button">Finish Task</a>
            {%else%}
                Assigned to: <strong>{{task.assignee}}</strong>
            {%endif%}
        {%else%}
            <a class="btn btn-info" href="{% url 'acceptTask' task_id=task.id %}" role="button">Accept Task</a>
        {%endif%}
        {%if task.created_by == user%}
            <a
                class="btn btn-sm btn-outline-danger float-right"
                href="{%url 'deleteTask' task_id=task.id%}"
                role="button"
            >Delete</a>
            <a
                class="btn btn-sm btn-outline-secondary text-muted float-right"
                href="{%url 'editTask' task_id=task.id%}"
                role="button"
            >Edit</a>
        {%endif%}
    </div>
    <div class="card-block text-xs-center">
        <p class="card-text">{{task.description}}</p>
    </div>
    <div class="card-block text-xs-center">
        {%if task.difficulty > 0%}
            <h6>Difficulty: {{task.difficulty}}</h6>
        {%endif%}
        <h6>Due Date: {{task.due_date.date}}</h6>
    </div>
    <div class="card-footer text-muted">
        <span class="float-left">
            <small>Created by: <strong>{{task.created_by.username}}</strong></small>
        </span>
        <span class="float-right">
            {%if task.updated_at%}
                <small>Last updated: <strong>{{task.updated_at.date}}</strong></small>
            {%else%}
                <small>Created on: <strong>{{task.created_at.date}}</strong></small>
            {%endif%}
        </span>
    </div>
</div>